html, body, #ea-container, #ea-row, #ea-col {
    height: 100%;
    overflow: auto;
}

#ea-row {
    background: #caebff;
}

#ea-col {
    background: #ffffff;
}

#ea-logo-sm {
    background: #caebff;
    margin: 0px -15px; 
    padding: 15px 0px 15px 15px;
}

#ea-logo-lg {
    margin-top: 15px;
}

#ea-intro {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #3c3c3c;
}

#ea-mailto {
    text-decoration: underline;
    color: #3c3c3c;
}

#ea-contact {
    margin-top: 15px;
    margin-bottom: 15px;
}

#ea-contact h1 {
    font-size: 22px;
    margin-bottom: 4px;
    display: inline-block;
}

#ea-contact h4 {
    font-size: 17px;
    margin-bottom: 4px;
    color: #868686;
}
