html, body, #ea-container, #ea-row, #ea-col {
    height: 100%;
    overflow: auto;
}

#ea-row {
    background: #cbffca;
}

#ea-col {
    background: #ffffff;
}

#ea-logo-sm {
    background: #cbffca;
    margin: 0px -15px; 
    padding: 15px 0px 15px 15px;
}

#ea-logo-lg {
    margin-top: 15px;
}

#ea-intro {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    color: #3c3c3c;
}

#ea-emilio {
    display: inline;
}

#ea-profile-wrapper {
    opacity: 0;
    transition: opacity 150ms linear;
    height: auto;
    left: 15px;
    max-width: 100px;
    overflow: hidden;
    position: absolute;
    top: 15px;
}

#ea-emilio:hover + #ea-profile-wrapper {
    opacity: 1;
}

#ea-profile {
    margin: 0 auto;
    height: 100px;
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background:url("../img/profile.png") center no-repeat;
    background-size:cover;
}

#ea-mailto {
    text-decoration: underline;
    color: #3c3c3c;
}

#ea-contact {
    margin-top: 15px;
    margin-bottom: 15px;
}

#ea-contact h1 {
    font-size: 22px;
    margin-bottom: 4px;
    display: inline-block;
}

#ea-contact h4 {
    font-size: 17px;
    margin-bottom: 4px;
    color: #868686;
}
